header {
  background-color: #fff;
  height: 14vh;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 99999;
}
header img {
  width: 130px;
  margin-top: -10px;
}
header a {
  width: 1cm;
  margin-left: 12px;
  transition: 0.5s;
  font-weight: 500;
}
header a:hover {
  color: #080a8c;
  border-bottom: 6px solid #f807cc;
}
header span {
  width: auto;
  padding: 0px 6px;
  background: #0638ea;
  border-radius: 50px;
  color: #ffffff;
  margin-right: 4px;
  font-weight: 400;
}

header .toggle {
  display: none;
}
@media screen and (max-width: 768px) {
  header {
    padding: 0;
  }
  header img {
    margin-top: 30px;
  }
  header .button {
    display: none;
  }
  header .nav .flex {
    display: none;
  }
  header .toggle {

    display: block;
    margin-top: 20px;
  }
  header .small {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: #ae2778;
    padding: 20px;
  }
  header li a {
    display: inline-block;
    margin-bottom: 30px;
    color: #fff;
  }
  .button1{
    display: inline-block;
    margin-bottom: 30px;
    color: #fff;
  }
}
.button1{
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(to right,#f807cc, hsl(234, 88%, 36%));
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin-left: 1cm;
}